
body{
    margin: 0%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 10 px;
    background-color: rgb(16, 68, 83);
}


    

h3{text-align: center;
    padding-bottom: 0%;
    overflow: hidden;
    font-size: 40px;
    color: black;


}
h6{
    margin-bottom: 0%;
    text-align: center;
  }
h5{
    margin: 0%;
    text-align: center;
  }

img{
    margin:0;
    width: 100%;
   }

h4{
    text-align: center;
  }
footer{
    color: rgb(12, 11, 11);
    text-shadow: rgb(240, 244, 255);
}
.Box {
  display: inline-table;
  width: 35%;
  margin: 15px;
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.349) 0px 0px 3px 0px;
}

header{
  text-align: center;
  font-style: italic;
  font-size: 25px;
  
}
ul{
  border-radius: 10px;
  background-position: center;
}




